<div class="card">
  <div class="content">
    <div class="back">
      <div class="back-content">
        <img src="https://lh3.googleusercontent.com/u/0/drive-viewer/AITFw-xg4-nqd73JKv88PRR3c4CZFDZ5YABb3pR5rWajDmUkOVzBBOximCmW3oWvVNNJ0M-xsUGGWaLrSkF7CoBvTACPpJ09=w1792-h932" alt=""/>
        <strong>{{Item.namehero | titlecase}}</strong>
      </div>
    </div>
    <div class="front">

      <div class="img">
        <div class="circle">
        </div>
        <div class="circle" id="right">
        </div>
        <div class="circle" id="bottom">
        </div>
      </div>

      <div class="front-content">
        <img alt="{{Item.namehero}}" src="{{Item.imgHero}}" id="HeroIMG"/>
        <small class="badge">{{Item.heroId}}</small>
        <div class="description">
          <div>
            <h3 class="title">
              <strong>{{Item.namehero | titlecase}}</strong>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
